.banner {
    max-height: 1000px;
    background: $gradient;
    overflow: hidden;
    position: relative;
}

.banner__img {
    opacity: .2;
    margin-top: -140px;
}

.banner__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__slider-wrap {
    max-width: 100%;
    width: 100%;
}

.banner__slider {

}

.banner__slide {
}

.banner__slide-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__slide-pretitle {
    margin-bottom: 29px;
}

.banner__slide-title {
    margin-bottom: 110px;
}

.banner__slide-btn {

}

.banner__dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    .slick-dots {
        display: flex;
        justify-content: space-between;

        li {
            max-width: 23.5%;
            width: 100%;
            height: 3px;
            background-color: $white;
            position: relative;
            transition: $dur $ease;
            opacity: .5;
            cursor: pointer;

            &::before {
                content: '';
                height: 3px;
                width: 0;
                background-color: $red;
                position: absolute;
                top: 0;
                left: 0;
                transition: $dur $ease;
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: -48px;
                color: $white;
                font-family: $font-main;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            &:nth-child(1) {
                &::after {
                    content: '01 Intro';
                }
            }

            &:nth-child(2) {
                &::after {
                    content: '02 Work';
                }
            }

            &:nth-child(3) {
                &::after {
                    content: '03 About';
                }
            }

            &:nth-child(4) {
                &::after {
                    content: '04 Contacts';
                }
            }

            button {
                display: none;
            }

            &.slick-active {
                opacity: 1;
                transition: $dur $ease;

                &::before {
                    width: 25%;
                    transition: $dur $ease;
                }
            }
        }
    }
}