// Fonts
$font-main: 'Montserrat', Arial, Helvetica, sans-serif;
$font-second: 'Kaushan Script', cursive;
$font-third: 'Roboto', sans-serif;
$font-icon: 'FontAwesome';

// Colors
$white: #fff;
$black: #000;
$red: #f38181;
$green: #95e1d3;
$yellow: #fce38a;
$grey-light: #ececec;
$grey-dark: #333333;
$grey: #595959;

// Gradient
$gradient: linear-gradient(0deg, rgba(238,213,137,0.7595413165266106) 14%, rgba(233,131,131,1) 100%);

// Transitions
$dur: 350ms;
$ease: ease;